<div>
  <li id="product-<%= product.id %>">
    <span class="image-show"><%= link_to default_image product %></span><br>
    <span class="name"><%= t "product.name" %><%= product.name %></span><br>
    <span class="description"><%= t "product.description" %><%= product.description %></span><br>
    <span class="price"><%= t "product.price" %><%= product.price %></span><br>
    <%= form_for @order_detail do |f| %>
      <div class="input-group">
        <%= f.number_field :unit_quantity, value: 1, class: "form-control", min: 1 %>
        <div class="input-group-btn">
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.submit t("order.button"), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
   </li>
   <div class="clearfix"></div>
 </div>
