<li class="col-md-12">
  <div id="category-<%= category.id %>" class="col-md-8"><%= category.name %></div>
  <div class="col-md-2 container-fluid">
    <button type="button" class="btn btn-success" data-toggle="modal"
      data-target="#item-<%= category.id %>"><%= t"edit" %></button>
  </div>
  <div class="col-md-2 listButton">
    <%= link_to t(".delete"), admins_category_path(category),
      method: :delete, data: {confirm:t(".confirm")}, class: "btn btn-danger" %>
  </div>
</li>
<div class="modal fade" id="item-<%= category.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t ".edit_cat" %></h4>
      </div>
      <div class="modal-body">
        <%= form_for [:admins, category], method: "put", remote: true do |f| %>
          <%= f.text_field :name, class: "col-md-7" %>
          <%= f.submit t(".update"), class: "btn btn-primary col-md-3 col-md-offset-1" %>
        <% end %>
      </div>
      <br></br>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t ".close" %>
        </button>
      </div>
    </div>
  </div>
</div>
