<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("logo"), root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to root_path do %>
              <span class="glyphicon glyphicon-home"></span>
              <%= t "home_title" %>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <span class="glyphicon glyphicon-log-in"></span>
              <%= t".login" %>
            <% end %>
          </li>
        </ul>
    </nav>
  </div>
</header>
