<% provide :title, t("home_title") %>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <%= render "layouts/header" %>
  <%= render "layouts/carousel" %>
  <%= render "layouts/food" %>
  <%= render "layouts/drink" %>
  <%= render "layouts/hot" %>
  <%= render "layouts/new" %>
</body>
