<% provide :title, t(".users") %>

<div class="containe col-md-9">
  <h2><%= t ".user_list" %></h2>
  <table class="table">
    <thead>
      <tr>
        <th><%= t ".id" %></th>
        <th><%= t ".name" %></th>
        <th><%= t ".address" %></th>
        <th><%= t ".phone" %></th>
        <th><%= t ".email" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.address %></td>
          <td><%= user.phone %></td>
          <td><%= user.email %></td>
          <td>
            <% if current_user.is_admin? && !current_user.current_user?(user) %>
              <%= link_to t(".delete"), admins_user_path(user),
                method: :delete, data: {confirm:t(".confirm")}, class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @users %>
</div>
