<header class="navbar navbar-fixed-top navbar-inverse ">
  <div class="container">
    <%= link_to t("admin_logo"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-home"></span>
            <%= t "home_title" %>
          <% end %>
        </li>
        <% if logged_in? %>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle",
              data: {toggle: "dropdown"} do %>
              <span class="glyphicon glyphicon-user"></span>
              <b class="caret"></b>
              <%= current_user.name %>
            <% end %>
            <ul class="dropdown-menu">
              <li>
                <%= link_to current_user do%>
                  <span class="glyphicon glyphicon-list "></span>
                  <%= t ".profile" %>
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to logout_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out"></span>
                  <%= t ".logout" %>
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to login_path,data: {toggle: "modal", target: "#newlogin"},
              remote: true do %>
              <span class="glyphicon glyphicon-log-in"></span>
              <%= t".login" %>
            <% end %>
            <%= render "sessions/new" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
