<footer class="footer">
  <small>
    <%= t ".source_des" %>
    <%= link_to t("framgia"), "#" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), "#" %></li>
      <li><%= link_to t("contact"), "#" %></li>
      <li><%= l Date.today %></li>
    </ul>
  </nav>
</footer>
