<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".logo"), root_path, id: "logo" %>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <%= link_to "#", class: "dropdown-toggle",
          data: {toggle: "dropdown"} do %>
          <b class="caret"></b>
          <%= t(".food") %>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to t(".food",), "#section11" %></li>
          <li><%= link_to t(".drink"), "#section12" %></li>
        </ul>
      </li>
      <li><%= link_to t(".hot"), "#section2" %></li>
      <li><%= link_to t(".new"), "#section3" %></li>
    </ul>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li>
            <% if current_order.id %>
              <%= link_to order_path(current_order) do %>
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <%= t ".cart" %>
                <%= t ".info", size: current_order.order_details.size %>
              <% end %>
            <% end %>
          </li>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle",
              data: {toggle: "dropdown"} do %>
              <span class="glyphicon glyphicon-user"></span>
              <b class="caret"></b>
              <%= t "admin" %>
            <% end %>
            <ul class="dropdown-menu">
              <li>
                <%= link_to current_user do%>
                  <span class="glyphicon glyphicon-list "></span>
                  <%= t ".profile" %>
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to logout_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out"></span>
                  <%= t ".logout" %>
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to login_path,data: {toggle: "modal", target: "#newlogin"},
              remote: true do %>
              <span class="glyphicon glyphicon-log-in"></span>
              <%= t".login" %>
            <% end %>
            <%= render "sessions/new" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
